.publications {
    &-wrapper {
        margin: auto;
        max-width            : 935px;
        font-family     : Arial, sans-serif;
        padding         : 20px;
        display         : flex;
        justify-content : center;
        background-color: transparent;
        position        : sticky;
        top             : 0;
        z-index         : 2;
    }
}