<header class="profile-information">
    <div class="profile-header">
      <div class="profile-picture">
        <img
          src="https://static.vecteezy.com/system/resources/previews/009/397/835/non_2x/man-avatar-clipart-illustration-free-png.png"
          alt="Profile Picture"
        />
      </div>
      <div class="profile-details">
        <h1>&#64;atdetquizan</h1>
        <div class="stats">
          <div>
            <strong>16</strong> publicaciones
          </div>
          <div>
            <strong>979</strong> seguidores
          </div>
          <div>
            <strong>663</strong> seguidos
          </div>
        </div>
        <div class="profile-details-actions">
          <button class="edit-profile-btn" type="button">
            Editar Perfil
          </button>
          <button
            class="edit-profile-btn edit-profile-btn--linkedin"
            type="button"
            (click)="onClickLinkedin()"
          >
            LinkedIn
          </button>
        </div>
      </div>
    </div>
  </header>