<div class="gallery-photo-modal-body">
    <app-gallery-photo-comment></app-gallery-photo-comment>
    <app-gallery-photo-comment></app-gallery-photo-comment>
    <app-gallery-photo-comment></app-gallery-photo-comment>
    <app-gallery-photo-comment></app-gallery-photo-comment>
    <app-gallery-photo-comment></app-gallery-photo-comment>
    <app-gallery-photo-comment></app-gallery-photo-comment>
    <app-gallery-photo-comment></app-gallery-photo-comment>
    <app-gallery-photo-comment></app-gallery-photo-comment>
</div>